* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* globales  */

body {
    background-color: #d2d7df;
}


/* header */

.main__header {
    padding: 1rem 0 1rem 0;
    background-color: #C97B84;
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    color: #fff;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
    margin-top: 8rem;
}

#main {
    text-align: center;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
}

#title {
    margin-bottom: 2rem;
}

#tribute-info {
    text-align: justify;
    margin-top: 2rem;
}

#tribute-info p {
    margin-top: 2rem;
    line-height: 1.7;
}

.boton {
    display: flex;
    justify-content: center;
}

#tribute-link {
    display: inline-block;
    background-color: #1D3354;
    border-radius: 10px;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    margin: 2rem 0 2rem 0;
}

#tribute-link:hover {
    background-color: #12664F;
}

#img-caption {
    font-size: 10px;
}

.tribute-info__title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.footer {
    padding: 2rem;
    background-color: #C97B84;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}